In [1]:
sample_object = {'Name':'John', 'Location':{'City':'Los Angeles','State':'CA'}}

In [2]:
sample_object

{'Location': {'City': 'Los Angeles', 'State': 'CA'}, 'Name': 'John'}

In [3]:
from pandas.io.json import json_normalize
json_normalize(sample_object)

  Location.City Location.State  Name
0   Los Angeles             CA  John

In [5]:
sample_object = {'Name':'John', 'Location':{'City':'Los Angeles','State':'CA'}, 'hobbies':['Music', 'Running']}
json_normalize(sample_object)

  Location.City Location.State  Name           hobbies
0   Los Angeles             CA  John  [Music, Running]

In [6]:
 data = [{'state': 'Florida',
   .....:           'shortname': 'FL',
   .....:           'info': {
   .....:                'governor': 'Rick Scott'
   .....:           },
   .....:           'counties': [{'name': 'Dade', 'population': 12345},
   .....:                       {'name': 'Broward', 'population': 40000},
   .....:                       {'name': 'Palm Beach', 'population': 60000}]},
   .....:          {'state': 'Ohio',
   .....:           'shortname': 'OH',
   .....:           'info': {
   .....:                'governor': 'John Kasich'
   .....:           },
   .....:           'counties': [{'name': 'Summit', 'population': 1234},
   .....:                        {'name': 'Cuyahoga', 'population': 1337}]}]

In [7]:
data

[{'counties': [{'name': 'Dade', 'population': 12345},
   {'name': 'Broward', 'population': 40000},
   {'name': 'Palm Beach', 'population': 60000}],
  'info': {'governor': 'Rick Scott'},
  'shortname': 'FL',
  'state': 'Florida'},
 {'counties': [{'name': 'Summit', 'population': 1234},
   {'name': 'Cuyahoga', 'population': 1337}],
  'info': {'governor': 'John Kasich'},
  'shortname': 'OH',
  'state': 'Ohio'}]

In [8]:
json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

         name  population    state shortname info.governor
0        Dade       12345  Florida        FL    Rick Scott
1     Broward       40000  Florida        FL    Rick Scott
2  Palm Beach       60000  Florida        FL    Rick Scott
3      Summit        1234     Ohio        OH   John Kasich
4    Cuyahoga        1337     Ohio        OH   John Kasich

In [9]:
def flatten_json(y):
    out = {}

    def flatten(x, name=''):
        if type(x) is dict:
            for a in x:
                flatten(x[a], name + a + '_')
        elif type(x) is list:
            i = 0
            for a in x:
                flatten(a, name + str(i) + '_')
                i += 1
        else:
            out[name[:-1]] = x

    flatten(y)
    return out

In [11]:
flat = flatten_json(sample_object)
json_normalize(flat)

  Location_City Location_State  Name hobbies_0 hobbies_1
0   Los Angeles             CA  John     Music   Running

Parsing JSON

http://docs.python-guide.org/en/latest/scenarios/json/

In [13]:
json_string = '{"first_name": "Guido", "last_name":"Rossum"}'

In [16]:
import json
parsed_json = json.loads(json_string)
print(parsed_json)
print(type(parsed_json))

{'first_name': 'Guido', 'last_name': 'Rossum'}
<class 'dict'>

In [17]:
d = {
    'first_name': 'Guido',
    'second_name': 'Rossum',
    'titles': ['BDFL', 'Developer'],
}

print(json.dumps(d))
print(type(d))

{"first_name": "Guido", "second_name": "Rossum", "titles": ["BDFL", "Developer"]}
<class 'dict'>